/* Assets and Fonts */
$font-main: Roboto, sans-serif;

/* Colors */
$main-bg-color: #ECEFF1;

/* Breakpoints */
$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;
$media-xs: 350px;